
#container
{
	display: flex;
	flex-direction: column;
	height: 790px;
}

.pseudo:nth-child(1)
{
	flex: 1;
	margin: auto;
}
.message:nth-child(2) 
{
	flex: 6;
	margin: auto;
}


.boutonenvoyer:nth-child(3)
{
	flex: 1;
	margin: auto;
}

.salon:nth-child(4)
{
	flex: 8;
	border: solid gray;
	border-radius: 10px;
	margin: auto;
	padding-top: 10px;
	padding-left: 5px;
	margin: 5px;
	background-color: rgba(193, 66, 66, 0.1);
	
}


